html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('Cricket-Stadium.jpg');
    font-family: 'Fredoka One', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Titan One', cursive;
    text-align: center;
}

.teams-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.team-a,
.team-b {
    background-color: white;
    padding: 1rem 16rem 1rem 1rem;
    border-radius: 2rem;
    margin-top: 3rem;
}

.heading {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 5rem;
}

.toss-btn {
    font-family: 'Fredoka One', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Titan One', cursive;
    padding: 1rem 4.5rem;
    font-size: 2rem;
    background-color: greenyellow;
    border-radius: 50px;
    border-style: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    margin-top: 3rem;
    

}

.toss-btn:hover {
    cursor: pointer;
    color: white;
    background-color: green;
}

.toss-win, .toss-winner {
    display: none;
    color: white;
}